/****************************************************************************8 screen - sounds */

.sounds {
    align-items: center;
    background-color: var(--amethyst);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 896px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: hidden;
    padding: 136.5px 5.2px;
    position: relative;
    width: 414px;
  }
  

  

/************************************************************************************************************************ screen - menu */

.menu {
    align-items: flex-start;
    background-color: var(--amethyst);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 896px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: hidden;
    padding: 0 57.1px;
    position: relative;
    width: 414px;
  }
  

  

/********************************************************************************************************************** screen - turn-screen */

.turn-screen {
    align-items: center;
    background-color: var(--amethyst);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 896px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: hidden;
    padding: 192px 17.3px;
    position: relative;
    width: 414px;
  }
  


/******************************************************************* screen - scene-controller */

.scene-controller {
    align-items: flex-start;
    background-color: var(--amethyst);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 896px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: hidden;
    padding: 59.1px 0;
    position: relative;
    width: 414px;
  }


/*************************************************************************** screen - sign-in */

.sign-in {
    align-items: flex-start;
    background-color: var(--amethyst);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 896px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: hidden;
    padding: 0 45.1px;
    position: relative;
    width: 414px;
  }


/****************************************************************************** screen - scene-playlist */

.scene-playlist {
    align-items: flex-start;
    background-color: var(--amethyst);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 896px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: hidden;
    padding: 56px 17.3px;
    position: relative;
    width: 414px;
  }
  


/************************************************************************************************************************************************************************* screen - settings */

.settings {
    align-items: flex-start;
    background-color: var(--amethyst);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 896px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: hidden;
    padding: 0 17.3px;
    position: relative;
    width: 414px;
  }
  


/************************************************************************** screen - register */

.register {
    align-items: flex-start;
    background-color: var(--amethyst);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 896px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: hidden;
    padding: 110px 27px;
    position: relative;
    width: 414px;
  }


/******************************************************************************************************************************************************** screen - WelcomeScreen */

.welcomescreen {
    align-items: center;
    background-color: var(--amethyst);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 896px;
    padding: 251.4px 0;
    width: 414px;
  }
  



/******************************************************************************************************************************************************************** screen - loading-screen-2 */

.loading-screen-2 {
    align-items: center;
    background-color: var(--amethyst);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 896px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: hidden;
    padding: 235px 17.3px;
    position: relative;
    width: 414px;
  }
  

/************************************************************************************** screen - loading-screen-1 */

.loading-screen-1 {
    align-items: flex-end;
    background-color: var(--amethyst);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 896px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: hidden;
    padding: 245px 113px;
    position: relative;
    width: 414px;
  }
  