:root { 
  --amethyst: #5c608c;
  --white: #ffffff;
 
  --font-size-l: 23px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xl: 32px;
  --font-size-xs: 17px;
  --font-size-xxs: 16px;
  --font-size-xxxs: 15px;
 
  --font-family-tektonpro-bold: "TektonPro-Bold", Helvetica;
}
.tektonpro-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-tektonpro-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.tektonpro-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-tektonpro-bold);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.tektonpro-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-tektonpro-bold);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 700;
}

.tektonpro-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-tektonpro-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.tektonpro-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-tektonpro-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.tektonpro-bold-white-23px {
  color: var(--white);
  font-family: var(--font-family-tektonpro-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
